@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -10px); }
  10% { opacity: 1; transform: translate(-50%, 0); }
  90% { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, -10px); }
}

.animate-fade-in-out {
  animation: fadeInOut 2s ease forwards;
}
